.hand {
    display: inline-block;
}

.cardImage {
    margin : 10px;
    height: 150px;
}

.senderButton {
    width: 120px;
    height: 40px;
    border: 2px;
    border-radius: 15%;
    background-color: grey;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
}

#solutions {
    margin: 30px;
}